.creators_content{

    h2{
        font-family: "Work Sans", sans-serif;
        font-size: 38px;
        color:#FFFFFF;

    }
   }

   .creators_button{

    display:flex;
    align-items: center;

    justify-content: space-between;


    p{
        font-family: "Work Sans", sans-serif;
        font-size: 22px;
        color:#FFFFFF;

    }
    button{
        display:flex;
        align-items: center;
        padding:20px 49px;
        border: 2px solid #A259FF;
        background-color: transparent;
        border-radius: 20px;
        gap:5px;

        span{

            font-family: "Work Sans", sans-serif;
            font-size: 16px;
            color:#FFFFFF;
        }

    }


   }

   .creators_images{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 22px;
    
   }
.creators_image{
   background-color:#3B3B3B;
   height:238px;
   width:240px;
   padding:24px;
   border-radius: 20px;
   margin-bottom: 27px;

}

.creator_img{
    display:flex;
    gap:18px;

    span{
     width:30px;
     height: 30px;
     font-family: "Work Sans", sans-serif;
     font-size: 16px;
    background-color: #2B2B2B;
    border-radius: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color:#858584;
    }
}

.creator_content{
    text-align: center;
    margin-top: 27px;
    h2{

        color:#FFFFFF;
        font-family: "Work Sans", sans-serif;
        font-size: 22px;

    }
}

.creator_content_details{

    display: flex;
    gap:10px;
    span{
        color:#858584;
        font-family: "Work Sans", sans-serif;
        font-size: 16px;

    }

    p{
        color:#FFFFFF;
        font-family: "Work Sans", sans-serif;
        font-size: 16px;

    }
}
