@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: #2B2B2B;
}

.container {
  max-width: 65.625rem;
  padding: 79px 0px;
  margin: 0px auto;
}

.menu_container {
  padding: 1.9rem 3.5rem;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1.313rem;
}

.main_menu ul {
  list-style: none;
  display: flex;
  gap: 2.625rem;
}
.main_menu a {
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
}

.sign_up {
  padding: 1.375rem 1.75rem;
  background-color: #A259FF;
  border-radius: 15px;
}

.discover {
  display: flex;
  justify-content: space-between;
}

.content_header h2 {
  font-size: 67px;
  font-family: "Work Sans", sans-serif;
  color: #FFFFFF;
}
.content_header p {
  font-size: 22px;
  font-family: "Work Sans", sans-serif;
  color: #FFFFFF;
}

.users_btn {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  background-color: #A259FF;
  gap: 5px;
  padding: 18px 47px;
  margin-top: 34px;
  border-radius: 20px;
  outline: none;
}

.content_users {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
}
.content_users h4 {
  font-family: "Space Mono", monospace;
  font-family: 27px;
  color: #FFFFFF;
}
.content_users p {
  font-family: "Space Mono", monospace;
  font-family: 23px;
  color: #FFFFFF;
}

.walking {
  padding: 25px 22px;
  background-color: #3B3B3B;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.walking h5 {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  color: #FFFFFF;
}

.walking_img {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
}
.walking_img span {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
}

.discover_items h2 {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 38px;
}

.discover_content {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}
.discover_content p {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
}
.discover_content button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 16px 35px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #A259FF;
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}

.discover_images {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card_area_content {
  padding: 30px;
  background-color: #3B3B3B;
  height: 173px;
  max-width: 330px;
  margin-top: -2px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.card_area_content h2 {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
}

.card_area_content_av {
  display: flex;
  gap: 10px;
}
.card_area_content_av span {
  color: #FFFFFF;
  font-family: "Space Mono";
  font-size: 16px;
}

.card_area_content_price {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.card_area_content_price span {
  color: #7B7B7B;
  font-family: "Space Mono";
  font-size: 16px;
}

.card_area_content_etharium {
  display: flex;
  justify-content: space-between;
}
.card_area_content_etharium span {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}

.tranding_images {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
}

.tranding_content h3 {
  font-family: "Work Sans", sans-serif;
  font-size: 38px;
  color: #FFFFFF;
}
.tranding_content p {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  color: #FFFFFF;
  margin-top: 23px;
}

.nft_img {
  margin-top: 13px;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.nft_load_more {
  padding: 35px 18px;
  background-color: #A259FF;
  border-radius: 20px;
}
.nft_load_more a {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  color: #FFFFFF;
  text-decoration: none;
}

.tranding_img span {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  color: #FFFFFF;
}

.nft_icon {
  margin-top: 13px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.nft_icon span {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
}

.highlight {
  /* Set a specific height */
  /* Background image */
  background-image: url("../images/high.png");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  /* Other background properties */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
}

.find h2 {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
}

.find_card {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.find_section {
  background-color: #3B3B3B;
  max-width: 330px;
  max-height: 439px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  border-radius: 22px;
}
.find_section h2 {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.find_section p {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}

.subscribe {
  display: flex;
  justify-content: space-between;
  padding: 60px;
  background-color: #3B3B3B;
  max-width: 100%;
  height: 430px;
}

.subscribe_content h2 {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 38px;
}
.subscribe_content p {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
}

.subscribe_input {
  display: flex;
  align-items: center;
  margin-top: 45px;
}
.subscribe_input input {
  padding: 20px;
  border-radius: 20px;
  color: #2B2B2B;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  outline: none;
}
.subscribe_input button {
  display: flex;
  align-items: center;
  padding: 20px 49px;
  border-radius: 20px;
  background-color: #A259FF;
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  outline: none;
  border-style: none;
  margin-left: -30px;
}

.creators_content h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 38px;
  color: #FFFFFF;
}

.creators_button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.creators_button p {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  color: #FFFFFF;
}
.creators_button button {
  display: flex;
  align-items: center;
  padding: 20px 49px;
  border: 2px solid #A259FF;
  background-color: transparent;
  border-radius: 20px;
  gap: 5px;
}
.creators_button button span {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
}

.creators_images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 22px;
}

.creators_image {
  background-color: #3B3B3B;
  height: 238px;
  width: 240px;
  padding: 24px;
  border-radius: 20px;
  margin-bottom: 27px;
}

.creator_img {
  display: flex;
  gap: 18px;
}
.creator_img span {
  width: 30px;
  height: 30px;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  background-color: #2B2B2B;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #858584;
}

.creator_content {
  text-align: center;
  margin-top: 27px;
}
.creator_content h2 {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
}

.creator_content_details {
  display: flex;
  gap: 10px;
}
.creator_content_details span {
  color: #858584;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}
.creator_content_details p {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}

.category_area h2 {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 38px;
}

.category_images {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category_image {
  margin-bottom: 29px;
}

.category_card_content {
  height: 76px;
  width: 240px;
  background-color: #3B3B3B;
  margin-top: -4px;
  padding: 24px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.category_card_content p {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
}

.footer_content {
  display: flex;
  padding: 40px;
  justify-content: space-between;
  border-bottom: 3px solid #A259FF;
}

.mar {
  display: flex;
  gap: 5px;
  align-items: center;
}
.mar h2 {
  color: #FFFFFF;
  font-family: "Space Mono";
  font-size: 22px;
}

.parea {
  margin-top: 15px;
}
.parea p {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}

.icons_area {
  margin-top: 20px;
}
.icons_area p {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}

.main_icons {
  display: flex;
  gap: 5px;
  margin-top: 15px;
}

.expo h2 {
  color: #FFFFFF;
  font-family: "Space Mono";
  font-size: 22px;
}
.expo p {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  margin: 15px;
}

.footer_subs h2 {
  color: #FFFFFF;
  font-family: "Space Mono";
  font-size: 22px;
}
.footer_subs p {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  margin: 15px;
}

.footer_copyright p {
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  margin: 15px;
}/*# sourceMappingURL=main.css.map */